name: Pull Request Check
on:
  pull_request:
  workflow_dispatch:
permissions:
  contents: read
  pull-requests: read # Use with `only-new-issues` option.
jobs:
  build:
    name: build
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v4
      with:
        go-version: 1.19
    - name: Build
      run: go build -v ./...
    - name: Test
      run: go test -v ./...
  golangci:
    name: lint
    runs-on: self-hosted
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: 1.19
      - uses: actions/checkout@v3
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest 
          skip-cache: true
          only-new-issues: true
  typos:
    name: typos
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v3
    - name: typos 
      uses: crate-ci/typos@master
  go-apidiff:
    if: github.event_name == 'pull_request'
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0 
    - uses: actions/setup-go@v4
      with:
        go-version: 1.19
    - uses: joelanford/go-apidiff@main